# Data Science Project

**Author Name:** Thomas Nguyen <br> 
**Course:** Data 606 <br> 
**Instructor:** Dr. Charojie (Jay) Wang

# <font color = red> ***Formula 1*** </font> - Predicting Qualifying Time and Race Results (2000-2023)

## Background:

Formula 1, often abbreviated as F1, is known as the pinnacle of motorsport racing. It is one of world's most prestigious international single-seater auto racing. Formula 1 world championship is organized by Federation International Automobile (FIA), which consist of multiple races called Grand Prix, held on various circuits around the world. Formula 1 came from the early 20th century, with the first World Championship taking place in 1950. 

The championship was established by the FIA, which developed various Grand Prix motor racing events into a single championshp. The championship is won by teams and each with two drivers. These technical teams design, develop, test, and race their built cars, which are subject to strict regulations and budget cap by FIA. Qualifying sessions in F1 determines the starting positions for each car on the grid for race day. During qualifying, setting the fastest lap time determines the starting position for the grid, so it is crucial as it sets the stage for the race and significantly impact driver's success of being a Grand Prix winner on race day. Therefore, this model will provide whether qualifying time and race winners have a significant impact.

## Source of Data: 

The source of the Formula 1 datasets is compiled from http://ergast.com/mrd/ obtained through kaggle. The data consist of 14 CSV files that contains a total of 120 columns. However, for the purpose of this project we will be using **6** dataset where they contain **circuits, drivers, qualifying, races, results, and status.** 

### Dataset (14 files): 
- **Size:** 20.14 MB 
- **Columns:** 120 columns 

### Dataset (6 files): 
- **Size:** 175.7+ MB
- **Columns:** 13 columns 
- **Rows:** 1644948 rows

## Importing packages

In [1]:
#importing libraries 
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

### Circuit Dataframe

In [2]:
df_circuit = pd.read_csv("circuits.csv")
df_circuit.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

### Drivers Dataframe

In [3]:
df_drivers = pd.read_csv("drivers.csv")
df_drivers.head(10)

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
5,6,nakajima,\N,NAK,Kazuki,Nakajima,1985-01-11,Japanese,http://en.wikipedia.org/wiki/Kazuki_Nakajima
6,7,bourdais,\N,BOU,Sébastien,Bourdais,1979-02-28,French,http://en.wikipedia.org/wiki/S%C3%A9bastien_Bo...
7,8,raikkonen,7,RAI,Kimi,Räikkönen,1979-10-17,Finnish,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...
8,9,kubica,88,KUB,Robert,Kubica,1984-12-07,Polish,http://en.wikipedia.org/wiki/Robert_Kubica
9,10,glock,\N,GLO,Timo,Glock,1982-03-18,German,http://en.wikipedia.org/wiki/Timo_Glock

### Qualifying Dataframe

In [4]:
df_qual = pd.read_csv("qualifying.csv")
#Renaming columns
#df_qual = df_qual[['driverId', 'position', 'q1','q2','q3']]
df_qual.sample(10)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
1666,1667,191,55,15,14,12,1:33.240,\N,\N
8098,8122,1018,825,210,20,5,1:04.778,1:04.466,1:04.072
337,338,34,7,5,14,10,1:36.239,1:35.478,1:38.885
8390,8414,1032,815,211,11,17,1:21.607,\N,\N
3812,3814,110,35,16,16,13,1:14.668,\N,\N
4356,4358,103,47,18,21,18,2:03.303,\N,\N
109,110,23,8,6,1,2,1:15.717,1:15.404,1:15.815
5907,5910,902,18,1,22,7,1:35.699,1:34.714,1:34.387
1699,1700,193,14,1,7,1,1:25.852,\N,\N
8795,8836,1057,830,9,33,3,1:41.760,1:41.625,1:41.563

### Races Dataframe

In [5]:
df_races = pd.read_csv("races.csv")
df_races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

### Results Dataframe

In [6]:
df_results = pd.read_csv("results.csv")
df_results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

### Status Dataframe

In [7]:
df_status = pd.read_csv("status.csv")
df_status.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

## Exploratory data analysis (EDA)

### Setting up our data source for analysis

In [8]:
#Joining all dataframe originally called into one main dataframe as df_combined
df_merge1 = pd.merge(df_results, df_races, on ='raceId')
df_merge2 = pd.merge(df_merge1, df_qual, on ='driverId')
df_merge3 = pd.merge(df_merge2, df_drivers, on ='driverId')
df_merge4 = pd.merge(df_merge3, df_circuit, on ='circuitId')
race_df = pd.merge(df_merge4, df_status, on ='statusId')
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
race_df.sample(5)

,resultId,raceId_x,driverId,constructorId_x,number_x,grid,position_x,positionText,positionOrder,points,laps,time_x,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,year,round,circuitId,name_x,date,time_y,url_x,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,qualifyId,raceId_y,constructorId_y,number_y,position_y,q1,q2,q3,driverRef,number,code,forename,surname,dob,nationality,url_y,circuitRef,name_y,location,country,lat,lng,alt,url,status
596376,23338,967,815,10,11,9,4,4,4,12.0,71,+25.346,10886681,41,11,1:27.093,178.113,1,2016,20,18,Brazilian Grand Prix,2016-11-13,16:00:00,http://en.wikipedia.org/wiki/2016_Brazilian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,8269,1025,211,11,12,1:34.336,1:33.958,NaN,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez,interlagos,Autódromo José Carlos Pace,São Paulo,Brazil,-23.7036,-46.6997,785,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jo...,Finished
1452292,21567,873,1,1,4,1,\N,R,24,0.0,22,\N,\N,14,19,1:55.541,158.063,6,2012,14,15,Singapore Grand Prix,2012-09-23,12:00:00,http://en.wikipedia.org/wiki/2012_Singapore_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,6664,945,131,44,2,1:40.974,1:40.758,1:40.614,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,marina_bay,Marina Bay Street Circuit,Marina Bay,Singapore,1.2914,103.8640,18,http://en.wikipedia.org/wiki/Marina_Bay_Street...,Gearbox
688499,22071,897,13,6,4,7,8,8,8,4.0,55,+1:22.886,5968992,52,9,1:45.447,189.615,1,2013,17,24,Abu Dhabi Grand Prix,2013-11-03,13:00:00,http://en.wikipedia.org/wiki/2013_Abu_Dhabi_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,6134,911,3,19,9,2:08.403,2:08.833,2:09.178,massa,19,MAS,Felipe,Massa,1981-04-25,Brazilian,http://en.wikipedia.org/wiki/Felipe_Massa,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,24.4672,54.6031,3,http://en.wikipedia.org/wiki/Yas_Marina_Circuit,Finished
635526,21572,874,1,1,4,9,5,5,5,10.0,53,+46.490,5382732,45,11,1:37.760,213.842,1,2012,15,22,Japanese Grand Prix,2012-10-07,06:00:00,http://en.wikipedia.org/wiki/2012_Japanese_Gra...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,6664,945,131,44,2,1:40.974,1:40.758,1:40.614,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,suzuka,Suzuka Circuit,Suzuka,Japan,34.8431,136.5410,45,http://en.wikipedia.org/wiki/Suzuka_Circuit,Finished
1459991,2688,146,49,17,11,11,\N,R,22,0.0,0,\N,\N,\N,\N,\N,\N,6,2001,6,70,Austrian Grand Prix,2001-05-13,\N,http://en.wikipedia.org/wiki/2001_Austrian_Gra...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2866,268,15,30,11,1:25.628,\N,\N,frentzen,\N,\N,Heinz-Harald,Frentzen,1967-05-18,German,http://en.wikipedia.org/wiki/Heinz-Harald_Fren...,red_bull_ring,Red Bull Ring,Spielberg,Austria,47.2197,14.7647,678,http://en.wikipedia.org/wiki/Red_Bull_Ring,Gearbox

In [9]:
#Dropping columns and including the columns only for our model 
race_df = race_df[['resultId', 'raceId_x', 'grid', 'position_x', 'year', 'name_x', 'name_y',
                   'q1', 'q2', 'q3', 'forename', 'surname', 'country', 'status']]
race_df.head()

,resultId,raceId_x,grid,position_x,year,name_x,name_y,q1,q2,q3,forename,surname,country,status
0,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:26.572,1:25.187,1:26.714,Lewis,Hamilton,Australia,Finished
1,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:35.392,1:34.627,1:36.709,Lewis,Hamilton,Australia,Finished
2,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:32.750,1:31.922,1:33.292,Lewis,Hamilton,Australia,Finished
3,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:21.366,1:20.825,1:22.096,Lewis,Hamilton,Australia,Finished
4,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:26.192,1:26.477,1:27.923,Lewis,Hamilton,Australia,Finished

In [10]:
#Adding forename and surname together into a single column 
race_df['driver name'] = race_df['forename'] + ' ' + race_df['surname']
race_df.sample(5)

,resultId,raceId_x,grid,position_x,year,name_x,name_y,q1,q2,q3,forename,surname,country,status,driver name
1456833,2168,122,8,\N,2003,United States Grand Prix,Indianapolis Motor Speedway,1:26.799,\N,\N,David,Coulthard,USA,Gearbox,David Coulthard
1107031,6003,289,21,9,1992,South African Grand Prix,Kyalami,1:25.920,\N,\N,Mika,Häkkinen,South Africa,+2 Laps,Mika Häkkinen
899599,4652,236,8,\N,1996,Belgian Grand Prix,Circuit de Spa-Francorchamps,1:58.314,\N,\N,Martin,Brundle,Belgium,Engine,Martin Brundle
98684,21315,863,13,12,2012,Bahrain Grand Prix,Bahrain International Circuit,1:34.092,1:33.815,\N,Nico,Hülkenberg,Bahrain,Finished,Nico Hülkenberg
844348,25688,1088,2,3,2022,Dutch Grand Prix,Circuit Park Zandvoort,1:35.795,1:35.246,1:34.421,Charles,Leclerc,Netherlands,Finished,Charles Leclerc

In [11]:
#Displaying the new column for driver name and dropping forename and surname from dataframe
drop_columns = ['forename', 'surname']
race_df = race_df.drop(columns = drop_columns)
race_df.head() #Now we can see that the driver names are combined, forename and surname are dropped

,resultId,raceId_x,grid,position_x,year,name_x,name_y,q1,q2,q3,country,status,driver name
0,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:26.572,1:25.187,1:26.714,Australia,Finished,Lewis Hamilton
1,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:35.392,1:34.627,1:36.709,Australia,Finished,Lewis Hamilton
2,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:32.750,1:31.922,1:33.292,Australia,Finished,Lewis Hamilton
3,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:21.366,1:20.825,1:22.096,Australia,Finished,Lewis Hamilton
4,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:26.192,1:26.477,1:27.923,Australia,Finished,Lewis Hamilton

In [12]:
#Checking for null values 
race_df.isnull().sum()

resultId           0
raceId_x           0
grid               0
position_x         0
year               0
name_x             0
name_y             0
q1              1661
q2             18353
q3             40902
country            0
status             0
driver name        0
dtype: int64

## Handling null values 
From our analysis, we can see that there are many null values in the columns q1, q2, and q3. However, this is expected because many drivers during qualifying session do not make it all the way through each qualifying. So instead, we will replacing the null values with string value as 'DNF' (did not finish) as it's a term in F1.

In [13]:
#Changing the qualifying columns to DNF where they are null
replace_columns = ['q1', 'q2', 'q3']

#Replacing the race_df columns ('q1', 'q2', 'q3') with 'DNF'
race_df[replace_columns] = race_df[replace_columns].replace(r'\N', 'DNF')
#replace_value = 'DNF'

#race_df[replace_columns] = race_df[replace_columns].fillna(replace_value)

In [14]:
#Displaying the information of the dataset race_df
race_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1644949 entries, 0 to 1644948
Data columns (total 13 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   resultId     1644949 non-null  int64
 1   raceId_x     1644949 non-null  int64
 2   grid         1644949 non-null  int64
 3   position_x   1644949 non-null  object
 4   year         1644949 non-null  int64
 5   name_x       1644949 non-null  object
 6   name_y       1644949 non-null  object
 7   q1           1643288 non-null  object
 8   q2           1626596 non-null  object
 9   q3           1604047 non-null  object
 10  country      1644949 non-null  object
 11  status       1644949 non-null  object
 12  driver name  1644949 non-null  object
dtypes: int64(4), object(9)
memory usage: 175.7+ MB

In [15]:
#Check for null values again 

#null_values = race_df.isnull()
#print(null_values)

race_df.isnull().sum() #We can see that the null values are gone

resultId           0
raceId_x           0
grid               0
position_x         0
year               0
name_x             0
name_y             0
q1              1661
q2             18353
q3             40902
country            0
status             0
driver name        0
dtype: int64

We can see that the null values are still here. However, we will replaced all the qualifying session to 'DNF' (Did not finish).

In [16]:
# Dataframe to show rows with 'DNF' values
df_dnf = race_df[race_df.eq('DNF').any(axis=1)]

# Display the 'DNF' values in the dataframe 
df_dnf.sample(5)

,resultId,raceId_x,grid,position_x,year,name_x,name_y,q1,q2,q3,country,status,driver name
1243426,604,46,20,16,2007,Hungarian Grand Prix,Hungaroring,1:15.757,1:15.234,DNF,Hungary,+1 Lap,Sebastian Vettel
295583,21875,887,14,10,2013,British Grand Prix,Silverstone Circuit,1:32.144,1:31.635,DNF,UK,Finished,Nico Hülkenberg
1117909,23672,983,10,11,2017,Malaysian Grand Prix,Sepang International Circuit,1:13.614,1:13.657,DNF,Malaysia,+1 Lap,Fernando Alonso
1635968,6689,311,8,\N,1991,French Grand Prix,Circuit de Nevers Magny-Cours,DNF,DNF,DNF,France,Physical,Roberto Moreno
1549258,24543,1026,5,\N,2019,Japanese Grand Prix,Suzuka Circuit,1:34.522,DNF,DNF,Japan,Brakes,Max Verstappen

Notice that there are additonal '\N' values for the position_x column. We will replace these values as 'DNF' (Did not finish) because they did not finish the race. We will be replacing the column position_x with 'DNF' where they show '\N'.

In [17]:
#Changing the qualifying columns to DNF where they are null
replace_columns2 = ['position_x']


race_df[replace_columns2] = race_df[replace_columns2].replace(r'\N', 'DNF')

In [19]:
# Specify the column name
column_name2 = 'position_x'

# Filter the dataframe to show only rows with 'DNF' in the specified column
dnf_rows2 = race_df[race_df[column_name2] == 'DNF']

# Display the resulting dataframe
dnf_rows2.sample(5)

,resultId,raceId_x,grid,position_x,year,name_x,name_y,q1,q2,q3,country,status,driver name
868959,22147,900,12,DNF,2014,Australian Grand Prix,Albert Park Grand Prix Circuit,1:31.931,1:44.688,DNF,Australia,Engine,Sebastian Vettel
906107,23654,982,16,DNF,2017,Singapore Grand Prix,Marina Bay Street Circuit,1:42.577,DNF,DNF,Singapore,Engine,Kevin Magnussen
1623351,23224,961,18,DNF,2016,Italian Grand Prix,Autodromo Nazionale di Monza,2:03.194,DNF,DNF,Italy,Collision damage,Felipe Nasr
919170,23719,985,4,DNF,2017,United States Grand Prix,Circuit of the Americas,1:27.979,1:27.369,1:27.099,USA,Engine,Daniel Ricciardo
979786,23376,968,12,DNF,2016,Abu Dhabi Grand Prix,Yas Marina Circuit,1:23.510,1:22.944,DNF,UAE,Suspension,Jenson Button

## Handling naming conventions for columns and dataframe

In [20]:
#Renaming the columns 
#Define dictionary and map them current column names to new column names 
new_columns = {'resultId': 'result_id', 
             'raceId_x': 'race_id', 
             'grid': 'starting_position', 
             'position_x': 'final_position', 
             'year': 'year', 
             'name_x': 'grand_prix', 
             'name_y': 'circuit_name', 
             'driver name': 'driver_name'}

race_df = race_df.rename(columns=new_columns) #Renaming the columns 
column_names = race_df.columns.tolist()
print(column_names) #Printing all the column names (updated)

['result_id', 'race_id', 'starting_position', 'final_position', 'year', 'grand_prix', 'circuit_name', 'q1', 'q2', 'q3', 'country', 'status', 'driver_name']

In [21]:
#Displaying all the data with the new naming convention
race_df.head(5)

,result_id,race_id,starting_position,final_position,year,grand_prix,circuit_name,q1,q2,q3,country,status,driver_name
0,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:26.572,1:25.187,1:26.714,Australia,Finished,Lewis Hamilton
1,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:35.392,1:34.627,1:36.709,Australia,Finished,Lewis Hamilton
2,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:32.750,1:31.922,1:33.292,Australia,Finished,Lewis Hamilton
3,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:21.366,1:20.825,1:22.096,Australia,Finished,Lewis Hamilton
4,1,18,1,1,2008,Australian Grand Prix,Albert Park Grand Prix Circuit,1:26.192,1:26.477,1:27.923,Australia,Finished,Lewis Hamilton

In [28]:
#Reordering the dataframe to follow specific column
desired_order = ['result_id', 'race_id', 'year', 
                  'grand_prix', 'circuit_name', 'country', 'q1', 'q2', 'q3',
                  'driver_name', 'starting_position', 'final_position', 'status']

race_df = race_df.reindex(columns = desired_order) #reindexing the colmuns of the dataframe
race_df.sample(5)

,result_id,race_id,year,grand_prix,circuit_name,country,q1,q2,q3,driver_name,starting_position,final_position,status
1161222,24731,1036,2020,Spanish Grand Prix,Circuit de Barcelona-Catalunya,Spain,1:34.873,1:34.453,DNF,Carlos Sainz,7,6,+1 Lap
350485,2116,120,2003,Hungarian Grand Prix,Hungaroring,Hungary,1:43.743,DNF,DNF,Kimi Räikkönen,7,2,Finished
197740,23491,974,2017,Monaco Grand Prix,Circuit de Monaco,Monaco,1:32.692,1:32.454,DNF,Sergio Pérez,7,13,Finished
1385778,25317,1070,2021,Mexico City Grand Prix,Autódromo Hermanos Rodríguez,Mexico,1:25.728,1:25.312,DNF,Daniel Ricciardo,7,12,+1 Lap
1612751,23113,956,2016,Austrian Grand Prix,Red Bull Ring,Austria,1:26.945,1:25.257,1:24.675,Sebastian Vettel,9,DNF,Tyre

In [25]:
# Display the size, columns, rows, and information of the cleaned dataset 
race_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1644949 entries, 0 to 1644948
Data columns (total 13 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   result_id          1644949 non-null  int64
 1   race_id            1644949 non-null  int64
 2   year               1644949 non-null  int64
 3   grand_prix         1644949 non-null  object
 4   circuit_name       1644949 non-null  object
 5   country            1644949 non-null  object
 6   q1                 1643288 non-null  object
 7   q2                 1626596 non-null  object
 8   q3                 1604047 non-null  object
 9   driver_name        1644949 non-null  object
 10  starting_position  1644949 non-null  int64
 11  final_position     1644949 non-null  object
 12  status             1644949 non-null  object
dtypes: int64(4), object(9)
memory usage: 175.7+ MB

#Transforming data into feature 
df_races['raceId']

## References: 
- https://www.kaggle.com/code/cuecacuela/the-ultimate-markdown-cheat-sheet
- https://towardsdatascience.com/exploratory-data-analysis-8fc1cb20fd15